body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e7f6ff;
}

*{
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

header{
    border-bottom: 1px solid #f4f4f4;

    img{
        margin-right: 15px;
    }
    
    h3{
        margin-bottom: 0px;
    }

    p{
        margin-top: 0px;
    }
}

.content{
    h1{
        margin: 0;
    }
}

.card{
    border: 1px solid #f8f8f8;
    padding: 20px;
    width: 210px;
    border-radius: 40px;
    transition: box-shadow 0.25s ease-in-out, transform 0.2s ease-in-out;

    &:hover{
        box-shadow: 0px 14px 30px rgba(0,0,0,0.5);
        transform: translateY(-5px);
        cursor: pointer;
    }

    .favorite{
        position: absolute;
        cursor: pointer;
    }

    h5{
        font-weight: 400;
        font-size: 14px;
    }
}

.button{
    background: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.search-block{
    border: 1px solid  #f3f3f3;
    border-radius: 10px;
    padding: 0 15px;

    input{
        border: 0;
        padding: 10px;
        font-size: 16px;
        width: 200px;
    }
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.drawer{
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #ffffff;
    box-shadow: -10px 4px 24px rgba(0,0,0,0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;

    .items{
        overflow: auto;
    }
}

.cartItem{

    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;

    p{
        font-size: 16px;
    }
    
    b{
        font-size: 14px;
    }

    .removeBtn{
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;
        cursor: pointer;

        &:hover{
            opacity: 1;
        }
    }
}

.cartTotalBlock{
    
        li{
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;
    
            div{
                flex: 1;
                height: 1px;
                border-bottom: 1px dashed #dfdfdf;
                position: relative;
                top: -4px;
                margin: 0 10px;
            }
        }
    

    button{
        width: 100%;
        height: 55px;
        background-color: #9dd558;
        border-radius: 18px;
        border: 0;
        color: #fff;
        font-size: 16px;
        transition: background-color 0.1s ease-in-out;

        &:hover{
            background: lighten(#9dd558, 5%);
        }

        &:active{
            background: darken(#9dd558, 5%);
        }
    }
    
}